
/* #festival,
#name,
.form-row {
    width: 90%;
    margin: 0 auto;
} */

.alert {
    margin-top: 5px;
    padding: 5px;
}

.btn {
    margin-bottom: 10px;
}

#upload {
    background-color: orange;
}

.thumbnail {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

img {
    display: block;
    margin: 0 auto;
}

#x {
    position: absolute;
    top: 0px;
    right: 0px;
}

.notes {
    margin: 10px 0px 10px 0px;
}

/* .notes {
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
} */