#submitSearch {
    /* background-color: rgba(0, 128, 128, 0.637); */
    /* background-color: rgb(255, 207, 117, 0.9); */
    background-color: #ffbf5fe1;
    border-radius: 2px;
    border: 0px;
    color: white;
    padding: 0px 10px 0px 10px;
    height: 38px;
}

#searchToggle {
    color: white;
    background-color:rgba(128, 128, 128, 0.623);
}

.search {
    margin-bottom: 0px;
    padding: 0px;
}

.input-group {
    margin-top: 10px;
}