.navbar {
    width: 100%;
    margin-bottom: 0px;
}

.delete, .edit {
    border: none;
    display: inline;
}

.delete {
    margin-left: 10px;
}

.delete-icon {
    color: red;
}

h4 {
    padding: 5px 20px 0px 20px;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-color: #d45500;
    border-bottom-color: transparent;
}
.nav-tabs {
   border-bottom: 1px solid #d45500;
}

.nav-tabs > li.active > a {
    color: #db9730;
  }
.nav-tabs > li > a {
    color: #ffb84d;
}

.card-body {
    text-align: left;
}

.notes {
    background-color: rgba(211, 211, 211, 0.493);
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
}

.festival {
    width: 100%;
    background-color: rgba(255, 166, 0, 0.9);
    /* background-color: #ffb84d; */
    text-align: center;
    color: white;
}

.phone,
.date {
    background-color: gold;
    border-radius: 30px;
    padding: 5px 6px 5px 6px;
}

.phone-date-row {
    margin-top: 15px;
}

#selected {
    color: blue;
}

#not-selected {
    color: black;
}

#phone {
    text-decoration: none;
}

/* .rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    background-clip: text;
    color: transparent;
} */

.rainbow-text {
    color: rgb(179, 98, 0)
}