.navbar {
    width: 100%;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.delete {
    border: none;
}

.delete-icon {
    color: red;
}

nav {
    margin-bottom: 10px;
    padding: 0px;
}

.nav-item {
    margin: 0px;
}

.card-body {
    text-align: left;
}

.notes {
    background-color: rgba(211, 211, 211, 0.493);
    margin-top: 10px;
}