.add-contact {
    text-align: center
}

.add-icon {
    color: green;
}

/* .contacts {
    margin-top: 10px;
} */

.screen {
    background-color: rgba(39, 39, 39, 0.699);
    z-index: 10;
    min-height: 100vh;
    height: 100%;
    position: relative;
}

/* .contacts-bg {
    height: 600px;
    background-color: rgba(211, 211, 211, 0.493);
    z-index: -1;
} */

.contacts {
    z-index: 1;
    position: absolute;
    left: 0px;
    width: 100%;
}

.search-contacts {
    top: 120px;
}

/* .contacts {
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
} */